@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #484538;
}
#app {
  max-width: 100%; /* Changed: 1280px */
  margin: 0 auto;
  padding: 2rem;
  background-color: #484538;
  font-weight: normal;
}

nav a,
.green {
  text-decoration: none;
  color: #e5fcf5;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  
   /*  place-items: center; */  /* Changed */
  }

  #app {
    display: flex; /* Changed: grid */
    flex-direction: column; /* Added */
    
    /* grid-template-columns: 1fr; */ /* Changed */
    padding: 0 2rem;
    width:90%; /* Added */
  }
}
